
StreamSpotter/.vs/StreamSpotter/v16/Browse.VC.db
StreamSpotter/.vs/StreamSpotter/v16/ipch/AutoPCH/8c7fd4af3ebb6734/WISHLIST.ipch
StreamSpotter/.vs/StreamSpotter/v16/Browse.VC.db-shm
StreamSpotter/.vs/StreamSpotter/v16/Browse.VC.opendb
StreamSpotter/.vs/StreamSpotter/v16/Browse.VC.db-wal
/.vs
/.bin
/.obj
.vs
.obj
.bin
.vs/
.bin/
.obj/
