
StreamSpotter/.vs/StreamSpotter/v16/Browse.VC.db
StreamSpotter/.vs/StreamSpotter/v16/ipch/AutoPCH/8c7fd4af3ebb6734/WISHLIST.ipch
StreamSpotter/.vs/StreamSpotter/v16/Browse.VC.db-shm
StreamSpotter/.vs/StreamSpotter/v16/Browse.VC.opendb
StreamSpotter/.vs/StreamSpotter/v16/Browse.VC.db-wal
/.vs
/.bin
/.obj
.vs
.obj
.bin
.vs/
.bin/
.obj/
StreamSpotter/StreamSpotter/bin/Debug/Newtonsoft.Json.dll
StreamSpotter/StreamSpotter/bin/Debug/Newtonsoft.Json.xml
StreamSpotter/StreamSpotter/bin/Debug/StreamSpotter.exe
StreamSpotter/StreamSpotter/bin/Debug/StreamSpotter.exe.config
StreamSpotter/StreamSpotter/bin/Debug/StreamSpotter.pdb
StreamSpotter/StreamSpotter/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
StreamSpotter/StreamSpotter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
StreamSpotter/StreamSpotter/obj/Debug/StreamSpotter.csproj.AssemblyReference.cache
StreamSpotter/StreamSpotter/obj/Debug/StreamSpotter.csproj.CopyComplete
StreamSpotter/StreamSpotter/obj/Debug/StreamSpotter.csproj.CoreCompileInputs.cache
StreamSpotter/StreamSpotter/obj/Debug/StreamSpotter.csproj.FileListAbsolute.txt
StreamSpotter/StreamSpotter/obj/Debug/StreamSpotter.csproj.GenerateResource.cache
StreamSpotter/StreamSpotter/obj/Debug/StreamSpotter.exe
StreamSpotter/StreamSpotter/obj/Debug/StreamSpotter.HomeScreen.resources
StreamSpotter/StreamSpotter/obj/Debug/StreamSpotter.MovieScreen.resources
StreamSpotter/StreamSpotter/obj/Debug/StreamSpotter.pdb
StreamSpotter/StreamSpotter/obj/Debug/StreamSpotter.Properties.Resources.resources
StreamSpotter/StreamSpotter/obj/Debug/StreamSpotter.SearchListUI.resources
