
StreamSpotter/.vs/StreamSpotter/v16/Browse.VC.db
StreamSpotter/.vs/StreamSpotter/v16/ipch/AutoPCH/8c7fd4af3ebb6734/WISHLIST.ipch
StreamSpotter/.vs/StreamSpotter/v16/Browse.VC.db-shm
StreamSpotter/.vs/StreamSpotter/v16/Browse.VC.opendb
StreamSpotter/.vs/StreamSpotter/v16/Browse.VC.db-wal
spike 1/JSON test/.vs/JSON test/DesignTimeBuild/.dtbcache
spike 1/JSON test/.vs/JSON test/DesignTimeBuild/.dtbcache
spike 1/JSON test/.vs/JSON test/DesignTimeBuild/.dtbcache
spike 1/JSON test/.vs/JSON test/v16/.suo
spike 1/JSON test/JSON test.sln
spike 1/JSON test/.vs/JSON test/v16/Server/sqlite3/storage.ide
spike 1/JSON test/JSON test/bin/Debug/netcoreapp3.1/JSON test.dll
spike 1/JSON test/JSON test/bin/Debug/netcoreapp3.1/JSON test.deps.json
spike 1/JSON test/JSON test/bin/Debug/netcoreapp3.1/JSON test.exe
spike 1/JSON test/JSON test/bin/Debug/netcoreapp3.1/JSON test.runtimeconfig.dev.json
spike 1/JSON test/JSON test/bin/Debug/netcoreapp3.1/JSON test.pdb
spike 1/JSON test/JSON test/bin/Debug/netcoreapp3.1/JSON test.runtimeconfig.json
spike 1/JSON test/JSON test/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
spike 1/JSON test/JSON test/JsonReadService.cs
spike 1/JSON test/JSON test/obj/Debug/netcoreapp3.1/JSON test.csproj.CopyComplete
spike 1/JSON test/JSON test/obj/Debug/netcoreapp3.1/JSON test.csproj.FileListAbsolute.txt
spike 1/JSON test/JSON test/obj/Debug/netcoreapp3.1/JSON test.exe
spike 1/JSON test/JSON test/obj/Debug/netcoreapp3.1/JSON test.dll
spike 1/JSON test/JSON test/obj/Debug/netcoreapp3.1/JSON test.pdb
spike 1/JSON test/JSON test/Program.cs
/.vs
